* {
	margin:0px;
	padding:0px;
}

body {
	font-family: 'Lato', serif;
}

.form-field h3 {
	text-align: center;
	font-weight: 600;
	font-size: 1.5rem;
	color: #00c1d7;
	margin-bottom:20px;
}

.centered-form {
	display: flex;
	align-items: center;
	height: 100vh;
	width: 100vw;
	justify-content: center;
}

.centered-form__form {
	border: 1px solid #00c1d7;
	border-radius: 5px;
	padding: 0px 20px;
	margin: 20px;
	width: 230px;
}

.form-field {
	margin: 20px;
}

.form-field > * {
	width: 100%;
}

.form-field label {
	display: block;
	margin-bottom: 7px;
	text-align:center;
	font-size:.8rem;
}

.form-field img {
	margin-left:45px;
	width: 100px;
	margin-bottom:50px;
}

.form-field input {
	border: 1px solid #00c1d7;
}

.header {
background-color:#00c1d7;
color:white;
text-align:center;
}

.youtube-embed {
background-color:#fefefe;
}

iframe {
	margin-top:5px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 350px;
	height:196.875px;
	margin-bottom:5px;
}

button {
	border: none;
	background:  #00c1d7;
	color: white;
	padding: 5px;
}

button:hover {
	cursor:pointer;
}

.chat__main {
	display: flex;
	flex-direction: column;
	height: 47vh;
	width: 100%;
}

.chat__messages {
	color: #00c1d7;
	flex-grow: 1;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.chat__footer {
	background: #e6e6e6;
	display: flex;
	padding: 10px;
	flex-shrink: 0;
}

.chat__footer form {
	flex-grow: 1;
	display: flex;
}

.chat__footer form * {
	margin-right: 10px;
}

.chat__footer input {
	border: none;
	padding:10px;
	flex-grow: 1;
}

.chat__messages {
	list-style-type: none;
	padding: 10px;
}

.message {
	padding: 5px;
}

.message__body {
	font-size: .8rem;
	color:black;
}

.part1 {
	height: 10vh;
}

.part2{
	height:37vh;
}

.part3{
	height:50vh;
}
